<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}
<form method=post enctype=multipart/form-data>
    <label>dat file</label>
    <input type=file name=datfile>
    <label>cfg file</label>
    <input type=file name=cfgfile>
    <input type=submit value=Upload>
</form>
{% endblock %}